.login-section {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: url('/images/register-bg-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-size: 16px;
    }

    h4 {
        color: #202224;
    }
}

.login-form {
    background-color: white;
    border-radius: 15px;
    height: auto;
    // min-width: 400px;
    // max-width: 300px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 20px 40px;
}

.login-form-heading {
    text-align: center;
    margin-bottom: 10px;

    img {
        width: 200px;
    }

    h2 {
        font-size: 26px;
        margin-top: 10px;
    }

    p {
        font-size: 14px;
        margin: 10px 0;
    }
}

.email-div {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
    margin: 15px 0;
    font-size: 14px;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
            font-size: 13px;
        }
    }
}


.remember-flex {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;

    span {
        color: #202224;
        font-size: 14px;
    }
}

.or-div {
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
    color: #5B708B;

    img {
        width: 150px;
    }
}

.login-social-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    gap: 8px;

    div {
        width: 32%;
        border: #E8E8E8 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px 0;
        border-radius: 10px;

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        img {
            width: 23px;
        }
    }
}

.create-account {
    text-align: center;
    font-size: 14px;
    span {
        color: #3749A6;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 600;

        &:hover {
            cursor: pointer;
        }
    }
}