.list-section{
    width: 100%;

    h2 span{
        color:'var(--primary-btn-color)';
    }

    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;

        &__div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            border-radius: 15px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            div{
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 14px;

                button{
                    outline: none;
                    background-color: transparent;
                    border-radius: 5px;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}