
// dashboard header css 
.header-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.search-bar{
    border: #D5D5D5 1px solid;
    background-color: #F5F6FA;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    gap: 5px;
    width: 30%;

    input{
        border: none;
        outline: none;
        background: none;
    }
}

.header-icons-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    div{
            line-height: 15px;
            align-items: baseline;
            font-family: "Inter", sans-serif;
        h3{
            font-size: 16px;
            font-weight: 800;
        }


    }

    .dropdown-header{
        cursor: pointer;
        border: 0.5px solid #5B708B33;
        color: #565656;
        border-radius: 50%;
        padding: 3px 4px;
    }
}

// sidebar css 

.sidebar-section{
    width: 100%;
    height: 100%;
    // justify-content: center;
    // padding: 0 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

    .sidebar-logo{
        padding:15px 0;
    }
    .sidebar-logo img{
        width: 160px;
    }

}

.sidebar-item{
    width: 100%;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:#202224;
    text-decoration: none;

    &:hover{
        background-color: #F5F6FA;
        color:#202224;
        opacity: 0.9;
        cursor: pointer;
    }
    ul li{
        padding: 10px 80px;
        list-style: none;
        width: 100%;
    }

     .active {
        font-weight: bold; /* Example style */
        // color: white; /* Example style */
        // background-color: #007bff;
    }
}



// media query 
@media screen and (max-width: 600px) {
    .header-section{
        padding: 0 20px;
    }
    .header-icons-right{
        div{
            display: none;
        }
    }

    .search-bar{
        width: 60%;
    }
    
}

@media screen and (min-width:786px) {
    .menu-icon{
        display: none;
    }
}