.plans-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;

    div{
        background-color: white;
        padding: 45px 20px;
        border-radius:15px;
        width: 32%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        h2{
            color:rgb(61, 66, 223);
            font-size: 30px;
            margin-top: 4px;
        }

        ul li{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 6px;
            margin-bottom: 6px;
            font-size: 15px;
        }

        button{
            background-color: rgb(61, 66, 223);
            padding: 10px 40px;
            color: white;
            margin-top: 40px;
            outline: none;
            border: none;
            border-radius: 10px;

            &:hover{
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 500px)  {
    .plans-container{
        gap: 20px;
        width: 95%;
        div{
            width: 100%;
        }
    }
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    .plans-container{
        gap: 20px;
        width: 95%;
        div{
            width: 46%;
        }
    }
}