.profile-details{
    background-color: white;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: url('/images/image-cover.png');


    .details-box{
        background-color: white;
        width: 65%;
        height: auto;
        margin: 0 auto;
        margin-top: 60px;
        border-radius: 20px;
        padding: 30px 50px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        .image-box{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom:30px;
        }

        .info-box{
            margin-bottom: 15px;
        }
    }
}

@media screen and (max-width: 600px) {
    .profile-details .details-box{
        width: 90%;
        padding: 30px;
    }
}