.documents-section{
    width: 100%;

    .documents__heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        h2{
            font-size: 23px;
        }
    }
}