.primary-btn {
    width: auto;
    border-radius: 10px;
    background-color: var(--primary-btn-color);
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    &:hover {
        opacity: 0.9;
    }
}