
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}


.nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.link-class {
  text-decoration: none;
  color: #202224;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.error{
  color: red;
}
.main__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
  }
}

*{
  /* font-size: 13px !important; */
}

li{
  font-size: 14px !important;
}

h2{
  font-size: 20px !important;
}

h3{
  font-size: 18px !important;
}

h5{
  font-size: 14px !important;
}


@media screen and (max-width: 786px) {
  .main__heading {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(206, 204, 204);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2B303466;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5B708B;
  cursor: grab;
}

.active {
  background-color: #3749A6;
  color: white !important;
  transition: 0.3s all ease;
  font-weight: 500 !important;
}